body{
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.wrap{
  padding-top: 30px;
  width: 100%;
}
.box-outer{
  flex-direction: column;
}
.btn-wrap{
  font-size: 14px;
  background-color: blue;
  padding: 12px 25px;
  color: #fff;
  display: inline-flex;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 15px;
}
.btn-wrap:hover{
  color: #fff;
  text-decoration: none;
}
.quotation-box{
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 50px 30px;
  width: 100%;
  margin-top: 0px;
  text-align: center;
}



/*
Clock */

.clock{
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/clock.png");
  background-size: cover;
  margin: 0 auto;
  position: relative;
}
.clock:before{
  content: '';
  width: 15px;
  height: 15px;
  background-color: #222;
  border-radius: 100%;
}